main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}


.calculator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
  background-color: #333;
}

.display {
  background-color: black;
  color: lime;
  font-size: 2rem;
  padding: 1rem;
  text-align: right;
  border-radius: 0.5rem;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
