main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #10213a;
  border-radius: 1rem;
  background-color: #183853;

  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.4), 
    inset 0 -4px 8px rgba(0, 0, 0, 0.3);
}


.display {
  background-color: #10213a;
  border: 2px solid #162449;
  color: #0dc2b7;
  font-size: 2rem;
  padding: 1rem;
  text-align: right;
  border-radius: 0.5rem;

  box-shadow:
    inset 0 4px 8px rgba(0, 0, 0, 0.6),
    inset 0 -2px 4px rgba(255, 255, 255, 0.05);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.calc-btn {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: Pixelify Sans, sans-serif;
  background-color: #286e6c;
  color: #14cabf;
  border: 2px solid #06e3d1;
  border-radius: 0.5rem;
  box-shadow: 0 4px #0b4e4f;
  transition: all 0.2s ease;
  cursor: pointer;
}

.calc-btn:active {
  box-shadow: 0 2px #0b4e4f;
  transform: translateY(2px);
}

.calc-btn.wide {
  grid-column: span 2;
}

.calc-btn:hover {
  background-color: #30595e;
}
